name: Build and Deploy to Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./be
        file: ./be/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/pumpkin-be:latest  

    - name: Verify Pushed Image
      run: docker pull ${{ secrets.DOCKER_USERNAME }}/pumpkin-be:latest
    
    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/pumpkin-be:latest
          sudo docker stop pumpkin-server || true
          sudo docker rm pumpkin-server || true
          sudo docker run --env-file .env -d --name pumpkin-server -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/pumpkin-be:latest