name: Build frontend and Deploy to Docker Hub

on:
  push:
    branches: [ "main" ]
    paths:
      - "fe/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "fe/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./fe
        file: ./fe/Dockerfile.prod
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/pumpkin-fe:${{ github.sha }}

    - name: Verify Pushed Image
      run: docker pull ${{ secrets.DOCKER_USERNAME }}/pumpkin-fe:${{ github.sha }}
    
    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/pumpkin-be:${{ github.sha }}
          sudo docker stop pumpkin-fe || true
          sudo docker rm pumpkin-fe || true
          sudo docker run --env-file ./fe/.env -d --name pumpkin-fe -p 3000:3000 ${{ secrets.DOCKER_USERNAME }}/pumpkin-fe:${{github.sha}}